.container {
    margin: 5% 30%;
}

@media screen and (width < 769px) {
    .container {
        margin: 5% 10%;
        form div div:first-child {
            margin-bottom: 20px;
        }
    }
}
@media screen and (width < 376px) {
    .container {
        margin: 5%;
    }
}
